.gradle
out
build/classes/
build/distributions/
build/jacocoHtml/
build/scripts/
build/tmp/
.idea
src/main/java/com/olgaboiar/guacomole/test.java
src/test/java/com/olgaboiar/guacomole/testTest.java

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
